%h1 About Northwood Mortgage

= header_links(['Management Profiles', '/about/management', 'Management Profiles'], ['Investor Information', '/about/investor', 'Investor Information'], ['Strategic Alliances', '/about/alliances','Strategic Alliances'])

= display_page('About Us')