<script type="text/javascript">
var AdLBaseURL = (("https:" == document.location.protocol) ? "https://www.adluge.com/trackerjs/" : "http://www.adluge.com/trackerjs/");
document.write(unescape("%3Cscript src='" + AdLBaseURL + "visitors-tracker.js' type='text/javascript'%3E%3C/script%3E"));
</script>